<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html $GmaIEFix xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>$WikiTitle - $Group - $Title</title>
    <link href="$SkinDirUrl/css/layout-main.css?version=$CSSVersion" rel="stylesheet" type="text/css" />
    <link href="$SkinDirUrl/css/layout-triad.css?version=$CSSVersion" rel="stylesheet" type="text/css" />
    <link href='$SkinDirUrl/css/$FontCss?version=$CSSVersion' rel='stylesheet' type='text/css' media='screen' />
    <link href='$SkinDirUrl/css/$ColorCss?version=$CSSVersion' rel='stylesheet' type='text/css' media='screen' />

<!--HTMLHeader-->
	<link href="$SkinDirUrl/css/layout-print.css" rel="stylesheet" type="text/css" media="print" />
</head>
<body $BodyAttrFmt>
	<script type='text/javascript' language='javaScript1.2'>
      <!--
        document.cookie = 'javascript=1; path=/';
      -->
    </script>
<div id="header-box">
<div id="header-box-left"><div id="toggleleft">$LeftToggleFmt</div><div id="logo"><a href="https://www.cef-cfr.ca"><img id="left-header-logo" src="pub/skins/ceftriad/images/logoCEF.gif"></a></div></div>
<div id="header-box-main">
<!--PageHeaderFmt-->
	<div id='header-search' class='pageheader'><!--wiki:$Group.PageHeader $SiteGroup.PageHeader-->
	</div>
<!--/PageHeaderFmt-->
<!--PageTopMenuFmt-->
	<div id="header-menu" class="nav">
        <div id="header-menu-toggleright">$RightToggleFmt</div>
        <div id="social"><a href="https://www.facebook.com/CEF.CFR" target=_blank><img class="main-header-sociallogo" src="pub/skins/ceftriad/images/logofacebook.gif"></a><a href="https://twitter.com/CEF_CFR" target=_blank><img class="main-header-sociallogo" src="pub/skins/ceftriad/images/logox.gif"></a><a href="https://www.youtube.com/channel/UCP-zwfZD5eZLLjJO1n6Rrrw" target=_blank><img class="main-header-sociallogo" src="pub/skins/ceftriad/images/logoyoutube.gif"></a><a href="https://www.instagram.com/cef_cfr/" target=_blank><img class="main-header-sociallogo" src="pub/skins/ceftriad/images/logoinstagram.gif"></a></div>
	  	<!--wiki:$Group.PageTopMenu $SiteGroup.PageTopMenu-->
    </div>
<!--/PageTopMenuFmt-->
</div>
</div>

<div id="global-wrapper">
<!--PageLeftFmt-->
    <div id="left-panel" style="width: $HideLeftFmt">
        <div id="sidebar">$CompatibilityNotice
            <div id='sidebarpage'><!--wiki:$Group.SideBar $SiteGroup.SideBar--></div>
            <div id="sidebarfooter"><!--wiki:$Group.SideBarFooter $SiteGroup.SideBarFooter--></div>
        </div>
    </div>
<!--/PageLeftFmt-->
    <div id="main-wrapper" style="margin-left: $HideLeftFmt">
        <div id="two-panel-wrapper">
            <div id="center-content-wrapper" style="margin-right:$HideRightFmt;">
<!--PageTitleFmt-->
                <div id= 'titlebarbox'>
                    <div id='titlebar' >
                        <!--wiki:$FullName-TitleBar $Group.TitleBar $SiteGroup.TitleBar-->
                    </div>
                </div>
<!--/PageTitleFmt-->
                <div id='content'>
<!--PageText-->
                    <div class="clearer"><!-- this is a clearer div --></div>
                </div>
            </div>
<!--PageRightFmt-->
            <div id="right-panel" style="width:$HideRightFmt;padding:$HideRightFmt;">
                <div id="rightbar"><!--wiki:$FullName-RightBar $Group.RightBar $SiteGroup.RightBar-->
                </div>
            </div>
<!--/PageRightFmt-->
        </div>
<!--PageFootMenuFmt-->
        <div id ='footnavbox'>
            <div id='footnav' class='navbuttons'><!--wiki:$Group.PageFootMenu $SiteGroup.PageFootMenu--></div>
        </div>
<!--/PageFootMenuFmt-->
<!--PageFooterFmt-->
        <div id="footer-box">
            <div id="footer"><!--wiki:$Group.PageFooter $SiteGroup.PageFooter--></div>
        </div>
<!--/PageFooterFmt-->
</div>
</div>
<!--HTMLFooter-->
</body>
</html>