<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
  <title>$WikiTitle | {$Group} / {$Title}</title>
  <link rel='stylesheet' href='$SkinDirUrl/print.css' type='text/css' />
    <link href="$SkinDirUrl/../ceftriad/css/layout-main.css?version=$CSSVersion" rel="stylesheet" type="text/css" />
    <link href="$SkinDirUrl/../ceftriad/css/layout-triad.css?version=$CSSVersion" rel="stylesheet" type="text/css" />
    <link href='$SkinDirUrl/../ceftriad/css/font-verdana.css?version=$CSSVersion' rel='stylesheet' type='text/css' />
    <link href='$SkinDirUrl/../ceftriad/css/c-green.css?version=$CSSVersion' rel='stylesheet' type='text/css' />
  <!--HTMLHeader-->
</head>
<body>
<!--PageTitleFmt-->
                <div id= 'titlebarbox'>
                    <div id='titlebar' >
                        <!--wiki:$FullName-TitleBar $Group.TitleBar $SiteGroup.TitleBar-->
                    </div>
                </div>
<!--/PageTitleFmt-->
  <div id='content'>
<!--PageText-->
  </div>
  <div id='printfoot'>
    <div class='from'>$[Retrieved from {$PageUrl}]</div>
    <div class='lastmod'>$[Page last modified on {$LastModified}]</div>
  </div>
<!--HTMLFooter-->
</body>
</html>
